<div class="box-form">
    <form class="login-form">
        <h2 class="login-form__title">Login</h2>
        <div class="login-form__component">
            <label for="email" class="login-form__label">Correo Electronico</label>
            <input type="text" class="login-form__input" id="email" placeholder="Correo Electronico">
            <p class="login-form__message">Correo Valido</p>
        </div>
        <div class="login-form__component">
            <label for="password" class="login-form__label">Contraseña</label>
            <input type="password" class="login-form__input" id="password" placeholder="Contraseña">
            <p class="login-form__message">Contraseña Valida</p>
        </div>

        <button class="login-form__btn">Ingresar</button>

        <div class="login-form__final">
            <a class="login-form__link">Registrarse</a>
            <a class="login-form__link">¿ Has olviado tu contraseña ? </a>
        </div>
    </form>

</div>