<section class="welcome">
    <article class="welcome__box-text">
        <h1 class="welcome__title">A Simple Bookmark Manager</h1>
        <p class="welcome__parrafo">
            A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
        </p>
        <button class="btn welcome__btn-chrome">Get it on Chrome</button>
        <button class="btn welcome__btn-firefox"> Get it on Firefox</button>
    </article>
    <article class="welcome__box-img">
        <img src="assets/images/illustration-hero.svg" alt="" class="welocme__img">
    </article>
</section>