.questions {
    padding: 100px 0;
}

.questions__title {
    font-size: var(--titles);
    color: var(--Very_Dark_Blue);
    text-align: center;
}

.questions__text {
    line-height: 35px;
    color: var(--Grayish_Blue);
    font-size: 18px;
    padding: 0 20%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .questions__text {
        padding: 0 10%;
    }
}

@media screen and (max-width: 500px) {
    .questions__text {
        padding: 0;
    }
}

.questions__box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.questions__item {
    width: 70%;
    margin: auto;
    padding: 1.5rem 0;
    border-bottom: 2px solid var(--Grayish_Blue);
}

.questions__item:first-child {
    border-top: 2px solid var(--Grayish_Blue);
}

.questions__item-title {
    font-size: 25px;
    outline: none;
    cursor: pointer;
    transition: all ease 1s;
    padding-left: 10px;
}

.questions__item-title:hover {
    color: var(--Soft_Red);
}

.questions__item-title::-webkit-details-marker {
    color: var(--Soft_Red);
    float: right;
    font-size: 40px;
}

@media screen and (max-width: 500px) {
    .questions__item .questions__item-title {
        font-size: 20px;
        font-weight: bold;
    }
}

.questions__item-text {
    line-height: 35px;
    color: var(--Grayish_Blue);
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .questions__item {
        width: 95%;
    }
}

.questions__item[open] {
    color: var(--Soft_Blue);
    padding-bottom: 0;
}

.questions__item[open] .questions__item-title::-webkit-details-marker {
    color: var(--Soft_Blue);
}

.questions_btn {
    outline: none;
    border: 2px solid var(--Soft_Blue);
    border-radius: 7px;
    background: var(--Soft_Blue);
    padding: 12px 20px;
    text-transform: uppercase;
    color: #fff;
    transition: all ease 1s;
    cursor: pointer;
    margin: auto;
    display: block;
}

.questions_btn:hover {
    background: none;
    color: var(--Soft_Blue);
}