<footer>
    <div class="footer__box1">
      <img src="assets/images/logo-bookmarkf.svg" alt="" class="footer__img">
      <a href="#" class="footer__link">Features</a>
      <a href="#" class="footer__link">Pricing</a>
      <a href="#" class="footer__link">Contact</a>
    </div>
    <div class="footer__box2">
      <img src="assets/images/icon-facebook.svg" alt="" class="footer__icon-social">
      <img src="assets/images/icon-twitter.svg" alt="" class="footer__icon-social">
    </div>
  </footer>